body {
  margin: 0;
  padding: 0;
}
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./images/backgrounds/purple_black_1.png');
}
.header {
  width: 100%;
  height: 36px;
  border: 0;
  font-size: 1.25em;
  color: white;
  background: url('./images/footer_bkgnd_36.png') repeat;
}
.footer {
  position: absolute;
  height: 48px;
  width: 100%;
  border: 0;
  font-size: 1.25em;
  color: white;
  left: 0;
  bottom: 0;
  background: url('./images/footer_bkgnd_48.png') repeat;
}
.footer img {
  vertical-align: middle;
}
#header_right {
  float: right;
}
#header_right img {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
#dateTime {
  position: relative;
  line-height: 36px;
  display: inline-block;
  top: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  background: url('./images/black_button_center.png') repeat;
}
table {
  width: 100%;
  height: 100%;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
