body {
  /*margin: 0;*/
  /*padding: 0;*/
}
a {
  text-decoration: none;
  outline: 0;
}
.ui-btn {
  border: none !important;
  height: auto !important;;
}
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../images/backgrounds/purple_black_1.png');
}
#headerWrapper {
  width: 100%;
  height: 36px;
  border: 0;
  font-size: 1.25em;
  color: white;
  background: url('../images/footer_bkgnd_36.png') repeat;
}
#header {
  margin: 0 10px;
}
#SecondsUntilExpire,
#header_right {
  float: right;
  vertical-align: middle;
}
#content {
  height: calc(100% - 106px); /* we need to take off the height of the header and footer */
  color: white;
  font-size: 1.5em;
}
#footerWrapper {
  position: absolute;
  height: 48px;
  width: 100%;
  border: 0;
  font-size: 1.25em;
  color: white;
  left: 0;
  bottom: 0;
  background: url('../images/footer_bkgnd_48.png') repeat;
}
#footer {
  margin: 0 10px;
  line-height: 48px;
}
#dateTime {
  position: relative;
  line-height: 36px;
  display: inline-block;
  top: 0;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#AlertMsg {
  margin-left: 15px;
  color: red;
}
#navtable {
  margin: 10px;
  text-align: justify; /* spread them evenly */
  display: inline-block;
  vertical-align: middle;
}
.menu_btn {
  /*margin: 5px;*/
  height: calc((100% - 80px) /2);
  width: (calc(100% / 4)) - 1px; /* because we have 8 menu items and we want 2 rows when landscaped */
  display: inline-block;
}
#navtable:after {
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 0;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#power_btn {
  background: transparent url('../images/icons/power_32.png') no-repeat;
  height: 32px;
  width: 32px;
  display: inline-block;
}
#home_btn {
  background: transparent url('../images/icons/home_small.png') no-repeat;
  height: 32px;
  width: 32px;
  display: inline-block;
}
.split {
  display: inline-block;
  float: left;
  width: calc(50% - 22px);
  height: 100%;
  overflow: auto;
}
.center {
  text-align: center;
}
.textLeft {
  text-align: left:
}
.clear {
  clear: both;
}
.fullHeight {
  height: 100%;
}
.fullWidth {
  width: 100%;
}
.bold {
  font-weight: bold;
}
.largeText {
  font-size: 2.75em;
  font-weight: bold;
}
.highlighted {
  /* This creates a shadowed full border to make the text stand out better over images */
  text-shadow: -3px -3px 2px #444, 3px -3px 2px #444, 3px 3px 2px #444, -3px 3px 2px #444;
}
.section_wrapper {
  margin: 8px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 3px solid #860DFF;
  background: rgba(191,150,227,0.2);
}
.section {
  padding: 10px;
}
.hide {
  display: none;
}
.valName {
  color: #44FFAA;
  font-weight: bold;
}
/* climate css */
.selector_wrapper {
  width: 480px;
  margin: 0 auto;
}
.selector {
  height: 79px;
  font-size: 25pt;
  font-weight: bold;
  color: #860dff;
  text-align: left;
  margin: 0 auto;
  padding: 16px 5px 5px 170px;
}
#mode_select {
  background: transparent url('../images/mode_selector.png') no-repeat;
}
#fan_select {
  background: transparent url('../images/fan_selector.png') no-repeat;
}
#mode_state {
  display: inline-block;
  margin: 8px 16px 0 0;
  float: right;
  background: transparent url('../images/hot_off_cold_leds.png') no-repeat;
  width: 32px;
  height: 32px;
  background-position: 0 -32px;
}
#fan_state {
  display: inline-block;
  margin: 8px 16px 0 0;
  float: right;
  background: transparent url('../images/green_led_on_off.png') no-repeat;
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
